{% extends './base.html' %}

<!-- Title goes here -->
{% block title %}
CRC {{ car.car_name }}
{% endblock %}

<!-- Extra styling goes here -->
{% block stylesheet %}
{% endblock %}

<!-- Content goes here -->
{% block content %}
<div id="content">
    {{ car  }}
    <ul>
        <li>{{ car.car_bodytype }}</li>
    </ul>

    Orders:
    <ul>
        {% for order in car.order_set.all %}
        <li>{{ order }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

<!-- Extra javascript goes here -->
{% block javascript %}
{% endblock %}