{% extends './base.html' %}

<!-- Title goes here -->
{% block title %}
CRC Car Recommendation
{% endblock %}

<!-- Extra styling goes here -->
{% block stylesheet %}
{% endblock %}

<!-- Content goes here -->
{% block content %}

    <div id="content">
        <h1>Car Recommendation</h1>
        <form id="recommend" method="POST" action="/cars/recommend_me/">{% csrf_token %}
            {{ recommendation_form.non_field_errors }}
            {% for hidden_field in recommendation_form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}
            {% for field in recommendation_form.visible_fields %}
                <div>
                    {{ field.label_tag }}
                    {{ field.errors }}
                    {{ field }}
                    {{ field.help_text }}
                </div>
            {% endfor %}
            <div>
                <button type="submit" class="button">Find me a car</button>
            </div>
        </form>
        {% if feedback_given %}
            <p>Thank you for your feedback!</p>
        {% endif %}
        {% if form_actioned %}
            <h1>Results</h1>
            {% if no_results %}
                <p>Your search has returned no results. Please try again</p>
            {% else %}
                <div class="grid listing">
                    {% for car in recommended_cars %}
                        <div>
                            <a href="./{{ car.id }}/"><h3>{{ car }}</h3></a>
                            <p><i class="fas fa-car"></i> {{ car.car_bodytype }}</p>
                            <p><i class="fas fa-user-alt"></i> Seats up to {{ car.car_seating_capacity }} people</p>
                            <p><i class="fas fa-cog"></i> {{ car.car_standard_transmission }}, {{ car.car_drive }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <h1>Feedback</h1>
            <form id="feedback" method="POST" action="/cars/recommend_me/">{% csrf_token %}
                {{ feedback_form.non_field_errors }}
                {% for hidden_field in feedback_form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                {% endfor %}
                {% for field in feedback_form.visible_fields %}
                    <div>
                        <p>{{ field.label_tag }}<br/>
                            {{ field.errors }}
                            {{ field }}
                            {{ field.help_text }}</p>
                    </div>
                {% endfor %}
                <div>
                    <button type="submit" class="button">Submit feedback</button>
                </div>
            </form>
        {% endif %}
    </div>

{% endblock %}

<!-- Extra javascript goes here -->
{% block javascript %}
{% endblock %}
