{% extends './base.html' %}

<!-- Title goes here -->
{% block title %}
CRC Car Recommendation
{% endblock %}

<!-- Extra styling goes here -->
{% block stylesheet %}
{% endblock %}

<!-- Content goes here -->
{% block content %}

    <div id="content">
    <h1>Car Recommendation</h1>
    <form id="recommend">
        <div>
            <label for="purpose">Purpose of trip</label><br>
            <select name="purpose">
                <option name="purpose" value="option 1">Option 1</option>
                <option name="purpose" value="option 2">Option 2</option>
                <option name="purpose" value="option 3">Option 3</option>
            </select>
        </div>
        <div>
            <label for="seats">Seats</label><br>
            <select name="seats">
                <option name="seats" value="option 1">Option 1</option>
                <option name="seats" value="option 2">Option 2</option>
                <option name="seats" value="option 3">Option 3</option>
            </select>
        </div>
        <div>
            <label for="transmission">Transmission</label><br>
            <select name="transmission">
                <option name="transmission" value="option 1">Option 1</option>
                <option name="transmission" value="option 2">Option 2</option>
                <option name="transmission" value="option 3">Option 3</option>
            </select>
        </div><br>
        <div>
            <label for="purpose">Month of trip</label><br>
            <select name="purpose">
                <option name="purpose" value="option 1">Option 1</option>
                <option name="purpose" value="option 2">Option 2</option>
                <option name="purpose" value="option 3">Option 3</option>
            </select>
        </div>
        <div>
            <label for="birthday">Date of Birth</label><br>
            <input type="date" name="birthday"></input>
        </div>
        <div>
            <input type="submit" class="button" value="Find me a car"></input>
        </div>
    </form>
    </div>

{% endblock %}

<!-- Extra javascript goes here -->
{% block javascript %}
{% endblock %}
