{% extends './base.html' %}

<!-- Title goes here -->
{% block title %}
CRC Cars
{% endblock %}

<!-- Extra styling goes here -->
{% block stylesheet %}
{% endblock %}

<!-- Content goes here -->
{% block content %}
<div id="content">
    <ul>
        {% for car in cars_list.all %}
        <li><a href="./{{ car.id }}/">{{ car.car_name }}</a></li>
        <ul style="padding-left: 10px;">
            <li>{{ car.car_bodytype }}</li>
        </ul>
        {% endfor %}
    </ul>
</div>
{% endblock %}

<!-- Extra javascript goes here -->
{% block javascript %}
{% endblock %}


