{% extends './base.html' %}

<!-- Title goes here -->
{% block title %}
    CRC Cars
{% endblock %}

<!-- Extra styling goes here -->
{% block stylesheet %}
{% endblock %}

<!-- Content goes here -->
{% block content %}
    <div id="content">
        <h1>Available Reports</h1>
        <div class="grid listing">
            <div><h2><a href="orders">PAST ORDERS</a></h2></div>
            <div><h2><a href="current_orders">CURRENT ORDERS</a></h2></div>
            <div><h2><a href="customers">CUSTOMERS</a></h2></div>
        </div>
    </div>
{% endblock %}

<!-- Extra javascript goes here -->

{% block javascript %}
{% endblock %}
