{% extends './base.html' %}

<!-- Title goes here -->
{% block title %}
CRC Home
{% endblock %}

<!-- Extra styling goes here -->
{% block stylesheet %}
{% endblock %}

<!-- Content goes here -->
{% block content %}
<div id="banner">
    <form id="recommend" method="POST" action="/cars/recommend_me/">{% csrf_token %}
        {{ form.non_field_errors }}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div>
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
                {{ field.help_text }}
            </div>
        {% endfor %}
        <div>
            <button type="submit" class="button">Find me a car</button>
        </div>
    </form>
</div>
<div id="content">
    <h1>Top Cars</h1>
    <div class="grid">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <h1>Locations Near you</h1>
    <div class="grid">
        <div></div>
        <div></div>

        <div></div>
    </div>
</div>
{% endblock %}

<!-- Extra javascript goes here -->
{% block javascript %}
{% endblock %}