{% extends './base.html' %}

<!-- Title goes here -->
{% block title %}
CRC Home
{% endblock %}

<!-- Extra styling goes here -->
{% block stylesheet %}
{% endblock %}

<!-- Content goes here -->
{% block content %}
<div id="banner">
    <form id="recommend" method="POST" action="/cars/recommend_me/">{% csrf_token %}
        {{ form.non_field_errors }}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div>
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
                {{ field.help_text }}
            </div>
        {% endfor %}
        <div>
            <button type="submit" class="button">Find me a car</button>
        </div>
    </form>
</div>
<div id="content">
    <h1>Top Cars</h1>
    <div class="grid listing">
        {% for car in top_3_cars %}
            <div>
                <a href="./{{ car.id }}/"><h3>{{ car }}</h3></a>
                <p><i class="fas fa-car"></i> {{ car.car_bodytype }}</p>
                <p><i class="fas fa-user-alt"></i> Seats up to {{ car.car_seating_capacity }} people</p>
                <p><i class="fas fa-cog"></i> {{ car.car_standard_transmission }}, {{ car.car_drive }}</p>
            </div>
        {% endfor %}
    </div>
    <h1>Locations Near you</h1>
    <div class="grid listing">
        <div>
                <h3>Brisbane</h3>
                <p>7832 Landing Dr, Queensland</p>
                <p><i class="fas fa-phone"></i> 2625350112</p>
                <!-- Django template tags -->
                <p><i class="fas fa-envelope"></i> brisbane@crc.com</p>
        </div>
        <div>
                <h3>East Brisbane</h3>
                <p>8148 W. Lake Dr, Queensland</p>
                <p><i class="fas fa-phone"></i> 6225350158</p>
                <!-- Django template tags -->
                <p><i class="fas fa-envelope"></i> east_brisbane@crc.com</p>
        </div>
        <div>
                <h3>Hawthorne</h3>
                <p>4499 Valley Crest, Queensland</p>
                <p><i class="fas fa-phone"></i> 4525350188</p>
                <!-- Django template tags -->
                <p><i class="fas fa-envelope"></i> hawthorne@crc.com</p>
        </div>
    </div>
    </div>
</div>
{% endblock %}

<!-- Extra javascript goes here -->
{% block javascript %}
{% endblock %}