{% extends './base.html' %}

<!-- Title goes here -->
{% block title %}
LOG IN
{% endblock %}

<!-- Extra styling goes here -->
{% block stylesheet %}
{% endblock %}

<!-- Content goes here -->
{% block content %}
    <div id="content">
        {% if not request.user.is_authenticated %}
            <form id="log-in" method="POST" action="">{% csrf_token %}
                <!--<input type="text" placeholder="Username" name="username" id="id_username">
                <input type="password" placeholder="Password" name="password" id="id_password">-->
                {{ form.as_p }}
                <input type="submit" class="button" value="Login">
            </form>
            <!--<a id="register" class="button" href="#">Register</a>-->
        {% endif %}
        {% if request.user.is_authenticated %}
            <div id="user-logged-in">Welcome {{ user.username }}</div>
            <a id="logout" class="button" href="{% url 'logout' %}">Logout</a>
        {% endif %}
    </div>
{% endblock %}

<!-- Extra javascript goes here -->
{% block javascript %}
{% endblock %}
