{% extends './base.html' %}

<!-- Title goes here -->
{% block title %}
CRC Cars Inactive
{% endblock %}

<!-- Extra styling goes here -->
{% block stylesheet %}
{% endblock %}

<!-- Extra javascript goes here -->
{% block javascript %}
<script>
    function ajax_reset(inner_string) {
        var skip = document.getElementById("timeframe_press").innerHTML.toLowerCase();

        // Extract the dates
        var end_date = document.getElementById("end_date").value;

        if (inner_string != "custom_set") {
            // Extract the individual components
            var end_split = end_date.split("-");
            var end_year = parseInt(end_split[0]),
                end_month = parseInt(end_split[1]),
                end_day = parseInt(end_split[2]);
            // Make some date objects
            var date_end = new Date(end_year, end_month - 1, end_day);
            // Choose how to update
            if (inner_string.toLowerCase() == 'year' ||
                inner_string.toLowerCase() == 'month' ||
                inner_string.toLowerCase() == 'day') { // SETTING DATES
            } else { // SHIFT IN DATES
                var increment = (inner_string == '&gt;') ? 1 : -1;
                switch (skip) {
                    case 'year':
                        date_end.setFullYear(date_end.getFullYear() + increment);
                        break;
                    case 'month':
                        date_end.setMonth(date_end.getMonth() + increment);
                        break;
                    case 'day':
                        date_end.setDate(date_end.getDate() + increment);
                        break;
                }
            }
            function toDisplay(update_me) {
                update_me = (update_me < 10) ? ("0" + update_me.toString()) : update_me.toString();
                return update_me
            }
            // end string
            end_year = toDisplay(date_end.getFullYear());
            end_month = toDisplay(date_end.getMonth() + 1);
            end_day = toDisplay(date_end.getDate());
            // full strings
            end_date = end_year + "-" + end_month + "-" + end_day
        }

        $.ajax({
            url: '{% url "json_cars_inactive_context" %}',
            dataType: 'json',
            data: {
                'end_date': end_date
            },
            success: function (data) {
                document.getElementById("report_content").innerHTML = data.html_response
            }
        });
    }

    function changeTimeframe() {
        current = document.getElementById("timeframe_press").innerHTML.toLowerCase()
        switch (current) {
            case 'year':
                next = 'day'
                break;
            case 'month':
                next = 'year'
                break;
            case 'day':
                next = 'month'
                break;
        }
        document.getElementById("timeframe_press").innerHTML = next.toUpperCase()
    }

    // Make sure that the DOM updates
    function update_date() {
         ajax_reset("custom_set");
    }

    // Export a csv
    function exportCSV() {
        document.getElementById("hidden_start_date").value = document.getElementById("start_date").innerHTML;
        document.getElementById("hidden_end_date").value = document.getElementById("end_date").innerHTML;
        document.getElementById("formCSV").submit();
    }
</script>
{% endblock %}

<!-- Content goes here -->
{% block content %}
    <div id="content">
        <h1>Cars Inactive Report</h1>
        <button type="button" name="press_me" onclick="ajax_reset(this.innerHTML)"><</button>
        <button type="button" id="timeframe_press" name="timeframe_press" onclick="changeTimeframe(); ajax_reset(this.innerHTML)">MONTH</button>
        <button type="button" name="press_me" onclick="ajax_reset(this.innerHTML)">></button>

        <div style="background-color:white; padding:10px; margin-top:10px; margin-bottom:10px">
            <div id="report_content">
                {% include './Includes/reports_cars_inactive_content.html' %}
            </div>
        </div>

        <form action="{% url 'export_report' %}" method="post" target="_blank" id="formCSV">
            {% csrf_token %}
            <input type="hidden" name="export_type" id="hidden_export_type" value="cars_inactive" />
            <input type="hidden" name="end_date" id="hidden_end_date" value="{{ end_date }}">
            <input type="button" value="EXPORT" onclick="exportCSV()" />
        </form>
    </div>


{% endblock %}

