{% extends './base.html' %}

<!-- Title goes here -->
{% block title %}
CRC Cars Seasonal
{% endblock %}

<!-- Extra styling goes here -->
{% block stylesheet %}
{% endblock %}

<!-- Content goes here -->
{% block content %}
    <div id="content">
        <table>
            <tr class="table-heading">
                <td>Car Model</td>
                <td>Rental Frequency</td>
            </tr>
            {% for car in seasonal_cars %}
                <tr>
                    <td>{{ car }}</td>
                    <td>{{ car.number_of_orders }}</td>
                </tr>
            {% endfor %}
        </table>
        <div style="width: 300px; height: 300px;">{% include './Charts/cars_seasonal.svg' %}</div>
    </div>
{% endblock %}

<!-- Extra javascript goes here -->
{% block javascript %}
{% endblock %}
