{% extends './base.html' %}

<!-- Title goes here -->
{% block title %}
CRC Cars Seasonal
{% endblock %}

<!-- Extra styling goes here -->
{% block stylesheet %}
{% endblock %}

<!-- Extra javascript goes here -->
{% block javascript %}
<script>
    $(document).on('click', '.press_me', function (e) {
        var forwards = (this.innerHTML == '&gt;')
        var no_change = (this.innerHTML == 'YEAR' || this.innerHTML == 'MONTH' || this.innerHTML == 'DAY')
        console.log(no_change)
        var skip = document.getElementById("timeframe_press").innerHTML.toLowerCase();
        var start_date = document.getElementById("start_date").innerHTML
        var end_date = document.getElementById("end_date").innerHTML
        $.ajax({
            url: '{% url "json_cars_seasonal_context" %}',
            dataType: 'json',
            data: {
                'forwards': forwards,
                'skip': skip,
                'end_date': end_date,
                'no_change': no_change
            },
            success: function (data) {
                document.getElementById("report_content").innerHTML = data.html_response
            }
        });
    })

    function changeTimeframe() {
        current = document.getElementById("timeframe_press").innerHTML.toLowerCase()
        if (current == 'month') {
            next = 'year'
        } else if (current == 'year') {
            next = 'day'
        } else {
            next = 'month'
        }
        document.getElementById("timeframe_press").innerHTML = next.toUpperCase()
    }

</script>
{% endblock %}

<!-- Content goes here -->
{% block content %}
    <div id="content">
        <h1>Reports</h1>
        <button type="button" name="press_me" class="press_me"><</button>
        <button type="button" id="timeframe_press" name="timeframe_press" class="press_me" onclick="changeTimeframe()">MONTH</button>
        <button type="button" name="press_me" class="press_me">></button>
        <div id="report_content">
            {% include './Includes/reports_cars_seasonal_content.html' %}
        </div>
    </div>
{% endblock %}
