{% extends './base.html' %}

<!-- Title goes here -->
{% block title %}
CRC Reports Dashboard
{% endblock %}

<!-- Extra styling goes here -->
{% block stylesheet %}
{% endblock %}

<!-- Extra javascript goes here -->
{% block javascript %}
<script>
    $(document).on('click', '.press_me', function (e) {
        var start_date = 1
        var end_date = 2
        $.ajax({
            url: '{% url "json_dashboard_context" %}',
            dataType: 'json',
            data: {
                'username': start_date,
                'end_date': end_date
            },
            success: function (data) {
                document.getElementById("report_content").innerHTML = data.html_response
            }
        });
    })
</script>
{% endblock %}

<!-- Content goes here -->
{% block content %}
    <div id="content">
        <h1>Reports</h1>
        <button type="button" name="press_me" class="press_me">Click Me!</button>
        <div id="report_content">
            {% include './Includes/reports_dashboard_content.html' %}
        </div>
    </div>
{% endblock %}