{% extends './base.html' %}

<!-- Title goes here -->
{% block title %}
CRC Stores
{% endblock %}

<!-- Extra styling goes here -->
{% block stylesheet %}
{% endblock %}

<!-- Content goes here -->
{% block content %}
<div id="banner2"></div>
<div id="content">
    <div id="title">
        <div id="title-left"><h1>Locations</h1></div>
        <div id="title-right">
            Sort by:
            <select name="sort">
                <option name="sort" value="option 1">Option 1</option>
                <option name="sort" value="option 2">Option 2</option>
                <option name="sort" value="option 3">Option 3</option>
            </select>
        </div>
    </div>
    <div class="grid listing">
        {% for store in stores_list.all %}
        <div>
            <div>
                <h3>{{ store.store_name }}</h3>
                <p>{{ store.store_address }}, {{ store.store_state }}</p>
                <p><i class="fas fa-phone"></i> {{ store.store_phone }}</p>
                <!-- Django template tags -->
                <p><i class="fas fa-envelope"></i> {{ store.store_name|lower }}@crc.com</p>
            </div>
            <div>0.6km away</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

<!-- Extra javascript goes here -->
{% block javascript %}
{% endblock %}