{% extends './base.html' %}

{% block title %}
{{ store.store_location }} Store
{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block content %}
<div id="banner2"></div>
<div id="content">
    <div id="title">
        <div id="title-left"><h1>Locations</h1></div>
        <div id="title-right">
            Sort by:
            <select name="sort">
                <option name="sort" value="option 1">Option 1</option>
                <option name="sort" value="option 2">Option 2</option>
                <option name="sort" value="option 3">Option 3</option>
            </select>
        </div>
    </div>
    <div class="grid listing">
        <div>
            <div>
                <h3>Alexandria Store</h3>
                <p>3761 N. 14th St, Alexandria, NSW</p>
                <p><i class="fas fa-phone"></i> 1 (11) 543 535-0162</p>
                <p><i class="fas fa-envelope"></i> alexandria_store@crc.com</p>
            </div>
            <div>0.6km away</div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}