    <div id="header">
        <a id="recommend-button" class="button" href="/cars/recommend_me">Recommend me a car</a>
        <div id="header-right">
            {% if not request.user.is_authenticated %}
                <form id="log-in" method="POST">{% csrf_token %}
                    <input type="text" placeholder="Username" name="username" id="id_username">
                    <input type="password" placeholder="Password" name="password" id="id_password">
                    <button type="submit" class="button">Login</button>
                </form>
                <a id="register" class="button" href="#">Register</a>
            {% endif %}
            {% if not request.user.is_authenticated %}
                Logged in
            {%  endif %}
        </div>
    </div>
    <div id="nav-bar">
        <div id="nav-bar-left">
            <a href="/../" id="current-page">Home</a>
            <a href="/stores/">View Stores</a>  
            <a href="/cars/">View Cars</a>
            <a href="/FAQ/">FAQ</a>
        </div>
        <div id="nav-bar-right">
            <a href="#">Data</a>
            <a href="/reports/dashboard/">Report</a>
        </div>
    </div>