<p>
    BETWEEN
    <input id="start_date" type="date" name="start_date" value="{{start_date}}" onchange="update_date()">
    AND
    <input id="end_date" type="date" name="end_date" value="{{end_date}}" onchange="update_date()">
</p>

<div class="report-page">
<div>
    <table>
        <tr class="table-heading">
            <td>Makename</td>
            <td>Model</td>
            <td>Series</td>
            <td>Series Year</td>
            <td>Rental Frequency</td>
        </tr>
        {% for car in seasonal_cars %}
            <tr>
                <td><a href="/cars/{{ car.id }}">{{ car.car_makename }}</a></td>
                <td>{{ car.car_model }}</td>
                <td>{{ car.car_series }}</td>
                <td>{{ car.car_series_year }}</td>
                <td>{{ car.number_of_orders }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<div style="width: 500px; height: 500px;">{{ cars_seasonal_graph|safe }}</div>
</div>