<p>
    AS OF
    <input id="end_date" type="date" name="end_date" value="{{end_date}}" onchange="update_date()">
</p>

<div class="report-page">
    <div>
        <table>
            <tr class="table-heading">
                <td>Store</td>
                <td>Available Car Parks</td>
            </tr>
            {% for store in queried_stores %}
                <tr>
                    <td><a href="/stores/{{ store.id }}">{{ store.store_city }}</a></td>
                    <td>{{ store.parking }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div style="width: 500px; height: 500px;">{{ store_parking_graph|safe }}</div>
</div>