<div class="grid listing" id="columns2">
    <div class="report-page">
        <a href="/reports/cars/seasonal/"><h3>Cars by Season</h3></a>
        <div>
            <table>
                <tr class="table-heading">
                    <td>Car Model</td>
                    <td>Rental Frequency</td>
                </tr>
                {% for car in seasonal_cars %}
                <tr>
                    <td>{{ car }}</td>
                    <td>{{ car.number_of_orders }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div style="width: 300px;">{{ cars_seasonal_graph|safe }}</div>
    </div>
    <div class="report-page">
        <a href="/reports/stores/activity/"><h3>Store Activity</h3></a>
        <div>
            <table>
                <tr class="table-heading">
                    <td>Store Location</td>
                    <td>Rental Frequency</td>
                </tr>
                {% for store in store_activity %}
                <tr>
                    <td>{{ store.store_city }}</td>
                    <td>{{ store.total_activity }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div style="width: 300px;">{{ store_activity_graph|safe }}</div>
    </div>
</div>
<div class="grid listing" id="reports-row2">
    <div>
        <a href="/reports/customers/demographics/"><h3>Customer Demographic</h3></a>
        <div style="width: 300px;">{{ customer_demographics_graph|safe }}</div>
    </div>
    <div>
        <a href="/reports/stores/parking/"><h3>Available Car Parks</h3></a>
        <div style="width: 300px;">{{ store_parking_graph|safe }}</div>
    </div>
    <div>
        <a href="/reports/cars/inactive/"><h3>Inactive Cars</h3></a>
        <div style="width: 300px;">{{ cars_inactive_graph|safe }}</div>
    </div>
</div>