<p>
    AS OF
    <input id="end_date" type="date" name="end_date" value="{{end_date}}" onchange="update_date()">
</p>

<div class="report-page">
<div>
<table>
    <tr class="table-heading">
        <td>Makename</td>
        <td>Model</td>
        <td>Series</td>
        <td>Series Year</td>
        <td>Last Returned</td>
    </tr>
    {% for car in inactive_cars %}
        <tr>
            <td>{{ car.car_makename }}</td>
            <td>{{ car.car_model }}</td>
            <td>{{ car.car_series }}</td>
            <td>{{ car.car_series_year }}</td>
            <td>{{ car.Return_Date }}</td>
        </tr>
    {% endfor %}
</table>
</div>
<div style="width: 500px; height: 500px;">{{ cars_inactive_graph|safe }}</div>
</div>
