<p>BETWEEN 
    <b><span id="start_date">{{ start_date }}</span></b> AND 
    <b><span id="end_date">{{ end_date }}</span></b>
</p>


<div class="report-page">
<div>
    <table>
        <tr class="table-heading">
            <td>Makename</td>
            <td>Model</td>
            <td>Series</td>
            <td>Series Year</td>
            <td>Rental Frequency</td>
        </tr>
        {% for car in seasonal_cars %}
            <tr>
                <td>{{ car.car_makename }}</td>
                <td>{{ car.car_model }}</td>
                <td>{{ car.car_series }}</td>
                <td>{{ car.car_series_year }}</td>
                <td>{{ car.number_of_orders }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<div style="width: 500px; height: 500px;">{{ cars_seasonal_graph|safe }}</div>
</div>