<p>
    BETWEEN
    <input id="start_date" type="date" name="start_date" value="{{start_date}}" onchange="update_date()">
    AND
    <input id="end_date" type="date" name="end_date" value="{{end_date}}" onchange="update_date()">
</p>

<div class="report-page">
    <table>
        <tr class="table-heading">
            <td>Age and Gender</td>
            <td>No. Customers</td>
            <td>Rental Freq.</td>
            <td>Favorite Bodytype</td>
            <td>Favorite Store</td>
        </tr>
        {% for age_group in results %}
            <tr>
                <td>{{ age_group.UserCategory }}</td>
                <td>{{ age_group.NumberUsers }}</td>
                <td>{{ age_group.NumberOrders }}</td>
                <td>{{ age_group.FavoriteBodytype }}</td>
                <td>{{ age_group.FavoritePickup }}</td>
            </tr>
        {% endfor %}
    </table>
    <div style="width: 300px;">{{ customer_demographics_graph|safe }}</div>
    <div style="width: 300px;">{{ customer_gender_graph|safe }}</div>
    <div style="width: 300px;">{{ customer_occupations_graph|safe }}</div>
</div>